{%if causa%}
	<div class="row">
		<div class="col-md-6 col-sm-6">
			<div id="map-canvas" style="height: 50%; width: 100%; padding: 0px; margin-bottom:10px;"/>
		</div>
		<div class="col-xs-12 col-md-6 col-sm-6 form-horizontal">
			<div class="form-group">
				<label for="" class="col-md-4 col-sm-4 col-xs-6">N° causa</label>
				<div class="col-md-8 col-sm-8 col-xs-6">
					{{causa.ncausa}}
				</div>
			</div>
			<div class="form-group">
				<label for="" class="col-md-4 col-sm-4 col-xs-6">Tribunal</label>
				<div class="col-md-8 col-sm-8 col-xs-6">
					{{causa.tribunal.nombretribunal}}
				</div>
			</div>
			<div class="form-group">
				<label for="" class="col-md-4 col-sm-4 col-xs-6">Objetivo diligencia</label>
				<div class="col-md-8 col-sm-8 col-xs-6">
					{{causa.tipodiligencia.detallediligencia}}
				</div>
			</div>
			<div class="form-group">
				<label for="" class="col-md-4 col-sm-4 col-xs-6">Direcci&oacute;n</label>
				<div class="col-md-8 col-sm-8 col-xs-6 text-justify">
					{{causa.direccion}}, {{causa.comuna.nombrecomuna}}, {{causa.comuna.provincia.nombreprovincia}}, {{causa.comuna.provincia.region.nombreregion}}
				</div>
			</div>
			<div class="form-group">
				<label for="" class="col-md-4 col-sm-4 col-xs-6">Observaci&oacute;n</label>
				<div class="col-md-8 col-sm-8 col-xs-6 text-justify">
					{{causa.observacion| default:"Sin observaciones"}}
				</div>
			</div>
			{%if user.usuario.tipo == 1 and causa.estado == "pendiente"%}
				<h3>Datos de Pago</h3>
				<form action="/causa/aceptar/" class="form-horizontal" id="formpago" method="POST">
					{% csrf_token %}
					{{form.idcausa}}
					<div class="form-group">
						<div class="col-md-8 col-sm-8 col-xs-6 text-justify">
							{{form.valor}}
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-8 col-sm-8 col-xs-6 text-justify">
							{{form.rut}}
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-8 col-sm-8 col-xs-6 text-justify">
							{{form.cuenta}}
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-8 col-sm-8 col-xs-6 text-justify">
							{{form.banco}}
						</div>
					</div>
				</form>
			{%endif%}
			{%if causa.estado == 'confirmacion'%}
				<h3>Datos de Pago</h3>
					<form action="/causa/aceptar/" class="form-horizontal" id="formpago" method="POST">
						{% csrf_token %}
						{{form.idcausa}}
					</form>
					<div class="form-group">
						<div class="col-md-8 col-sm-8 col-xs-6 text-justify">
							{{causa.valor}}
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-8 col-sm-8 col-xs-6 text-justify">
							{{causa.receptor.rut}}
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-8 col-sm-8 col-xs-6 text-justify">
							{{causa.receptor.cuenta}}
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-8 col-sm-8 col-xs-6 text-justify">
							{{causa.receptor.banco}}
						</div>
					</div>
			{%endif%}
			<div class="panel-group" id="accordion">
			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" href="#collapseInfo">
			          M&aacute;s Informaci&oacute;n
			        </a>
			      </h4>
			    </div>
			    <div id="collapseInfo" class="panel-collapse collapse">
			      <div class="panel-body">
			      	<div class="form-group">
						<label for="" class="col-md-4 col-sm-4 col-xs-6">Abogado</label>
						<div class="col-md-8 col-sm-8 col-xs-6">
							{{causa.abogado.nombre}}
						</div>
					</div>
					<div class="form-group">
						<label for="" class="col-md-4 col-sm-4 col-xs-6">Receptor</label>
						<div class="col-md-8 col-sm-8 col-xs-6">
							{{causa.receptor.nombre}}
						</div>
					</div>
					<div class="form-group">
						<label for="" class="col-md-4 col-sm-4 col-xs-6">Fecha solicitud</label>
						<div class="col-md-8 col-sm-8 col-xs-6">
							{{causa.fechaingreso}}
						</div>
					</div>
					<div class="form-group">
						<label for="" class="col-md-4 col-sm-4 col-xs-6">Estado</label>
						<div class="col-md-8 col-sm-8 col-xs-6">
							{{causa.estado}}
						</div>
					</div>
					<div class="form-group">
						<label for="" class="col-md-4 col-sm-4 col-xs-6">Resultado diligencia</label>
						<div class="col-md-8 col-sm-8 col-xs-6">
							{{causa.tiporesultadodiligencia.detallediligencia}}
						</div>
					</div>
					<div class="form-group">
						<label for="" class="col-md-4 col-sm-4 col-xs-6">D&iacute;as pendientes</label>
						<div class="col-md-8 col-sm-8 col-xs-6">
							{% if causa.diaspendiente != None %}
								{{causa.diaspendiente}}
							{%else%}
								-
							{%endif%}
						</div>
					</div>
			      </div>
			    </div>
			  </div>
			</div>

			{%if user.usuario.tipo == 2%}
				<div class="panel-group" id="accordion">
			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" href="#collapseInfo">
			          Historial Causa
			        </a>
			      </h4>
			    </div>
			    <div id="collapseInfo" class="panel-collapse collapse">
			      <div class="panel-body">

			      	<div class="form-group">
						<label for="" class="col-md-4 col-sm-4 col-xs-6">Evento1</label>
						<div class="col-md-8 col-sm-8 col-xs-6">
							<!--Datos-->
						</div>
					</div>
					<div class="form-group">
						<label for="" class="col-md-4 col-sm-4 col-xs-6">Evento2</label>
						<div class="col-md-8 col-sm-8 col-xs-6">
							<!--Datos-->
						</div>
					</div>
					<div class="form-group">
						<label for="" class="col-md-4 col-sm-4 col-xs-6">Evento3</label>
						<div class="col-md-8 col-sm-8 col-xs-6">
							<!--Datos-->
						</div>
					</div>
					<div class="form-group">
						<label for="" class="col-md-4 col-sm-4 col-xs-6">Evento4</label>
						<div class="col-md-8 col-sm-8 col-xs-6">
							<!--Datos-->
						</div>
					</div>
					<div class="form-group">
						<label for="" class="col-md-4 col-sm-4 col-xs-6">Evento5</label>
						<div class="col-md-8 col-sm-8 col-xs-6">
							<!--Datos-->
						</div>
					</div>
					<div class="form-group">
						<label for="" class="col-md-4 col-sm-4 col-xs-6">Evento6</label>
						<div class="col-md-8 col-sm-8 col-xs-6">
							<!--Datos-->
						</div>
					</div>

			      </div>
			    </div>
			  </div>
			</div>
			{%endif%}

		</div>
	</div>

{%else%}
	<h3 class="text-center">{{error}}</h3>
{%endif%}

<script>
		function initGoogle(){
		    myLatLng = new google.maps.LatLng(0,0);
		    var mapOptions = {
		        zoom: 16,
		        center: myLatLng,
		        mapTypeId: google.maps.MapTypeId.ROADMAP,
		        streetViewControl: false,
    			zoomControl: true,
    			zoomControlOptions: {
					style: google.maps.ZoomControlStyle.SMALL
    			},
    			disableDefaultUI: true,
		    };

		    map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
		    codeAddress();
		}

		function initGoogle2(){
			// alert("Para diligenciar la causa se le pedirá compartir su ubicación. Por favor, de la autorización.");
		    var mapOptions = {
		        zoom: 16,
		        mapTypeId: google.maps.MapTypeId.ROADMAP,
		        streetViewControl: false,
    			zoomControl: true,
    			zoomControlOptions: {
					style: google.maps.ZoomControlStyle.SMALL
    			},
    			disableDefaultUI: true,
		    };

		    map = new google.maps.Map(document.getElementById('map-canvas-2'), mapOptions);

		    // Try W3C Geolocation (Preferred)
			  if(navigator.geolocation) {
			    browserSupportFlag = true;
			    navigator.geolocation.getCurrentPosition(function(position) {
			      initialLocation = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);
			      $("input[name='lat']").val(position.coords.latitude);
			      $("input[name='lon']").val(position.coords.longitude);

			      map.setCenter(initialLocation);
			    }, function() {
			      handleNoGeolocation(browserSupportFlag);
			    });
			  }
			  // Browser doesn't support Geolocation
			  else {
			    browserSupportFlag = false;
			    handleNoGeolocation(browserSupportFlag);
			  }

			  function handleNoGeolocation(errorFlag) {
			    if (errorFlag == true) {
			      alert("Geolocation service failed.");
			      initialLocation = newyork;
			    } else {
			      alert("Your browser doesn't support geolocation. We've placed you in Siberia.");
			      initialLocation = siberia;
			    }
			    map.setCenter(initialLocation);
			  }

		}



		function codeAddress() {
		    var address1 = '{{causa.direccion}}, {{causa.comuna.nombrecomuna}}, {{causa.comuna.provincia.nombreprovincia}}, {{causa.comuna.provincia.region.nombreregion}}';
		    var address2 = '{{causa.comuna.nombrecomuna}}, {{causa.comuna.provincia.nombreprovincia}}, {{causa.comuna.provincia.region.nombreregion}}';
		    var geocoder = new google.maps.Geocoder();
		    geocoder.geocode( { 'address': address1}, function(results, status) {
		      if (status == google.maps.GeocoderStatus.OK) {
		        map.setCenter(results[0].geometry.location);
		        var marker = new google.maps.Marker({
		            map: map,
		            position: results[0].geometry.location
		        });
		      } else {
		        geocoder.geocode({'address': address2}, function(results, status){
	        		if (status == google.maps.GeocoderStatus.OK) {
				        map.setCenter(results[0].geometry.location);
				        var marker = new google.maps.Marker({
				            map: map,
				            position: results[0].geometry.location
				        });
		      		}
		        });
		      }
		    });
		}

		$(document).ready(function(){
		    var script = document.createElement('script');
		    script.type = 'text/javascript';
		    script.id = 'googleMaps';
		    script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true&callback=initGoogle';
		    document.body.appendChild(script);
	   	});
</script>