{%if causa%}
<form action="" method="POST" class="form-horizontal" role="form" name="editar">
	{%csrf_token%}
	<div class="form-group">
		<label for="" class="col-md-4 col-sm-4 col-xs-4">Direcci&oacute;n</label>
		<div class="col-md-8 col-sm-8 col-xs-8">
			{{form.direccion}}
		</div>
	</div>
	<div class="form-group">
		<label for="" class="col-md-4 col-sm-4 col-xs-4">Observaci&oacute;n</label>
		<div class="col-md-8 col-sm-8 col-xs-8">
			{{form.observacion}}
		</div>
	</div>
</form>
{%else%}
<h3>Error.</h3>
{%endif%}