{% extends 'base_app.html' %}
{% load sorting_tags %}
{% block title %} Nueva Causa | SIJ {%endblock%}
{%block titulo%}Nueva Causa {%endblock%}
{% block content %}
	<ul class="nav nav-tabs">
		<li id="1" class="active"><a href="#" style="cursor:default"><span class="label label-default">1</span> Nueva Causa</a></li>
		<li id="2"><a href="#" style="cursor:default"><span class="label label-default">2</span> Asignar Receptor Judicial</a></li>
		<li id="3"><a href="#" style="cursor:default"><span class="label label-default">3</span> Confirmar Causa</a></li>
	</ul>
	<br>
	<div class="row">
		<div class="col-xs-12 col-sm-8 col-sm-offset-2">
			<form action="." class="form-horizontal" id="formcausa" method="POST">
				{%if msj%}
					<alert class="alert-warning">{{msj}}</alert>
				{%endif%}
				{% csrf_token %}
				<div class="form-group form-group-lg">
					<div class="col-sm-8 col-sm-offset-2 col-xs-12">
						{{ form.ncausa }}
					</div>
				</div>
				<div class="form-group form-group-lg">
					<div class="col-sm-8 col-sm-offset-2 col-xs-12">
						{{ form.materia }}
					</div>
				</div>
				<div class="form-group form-group-lg">
					<div class="col-sm-8 col-sm-offset-2 col-xs-12">
						{{ form.region }}
					</div>
				</div>
				<div class="form-group form-group-lg">
					<div class="col-sm-8 col-sm-offset-2 col-xs-12">
						{{ form.provincia }}
					</div>
				</div>
				<div class="form-group form-group-lg">
					<div class="col-sm-8 col-sm-offset-2 col-xs-12">
						{{ form.comuna }}
					</div>
				</div>
				<div class="form-group form-group-lg">
					<div class="col-sm-8 col-sm-offset-2 col-xs-12">
						{{form.direccion}}
					</div>
				</div>
				<div class="form-group form-group-lg">
					<div class="col-sm-8 col-sm-offset-2 col-xs-12">
						{{ form.jurisdiccion }}
					</div>
				</div>
				<div class="form-group form-group-lg">
					<div class="col-sm-8 col-sm-offset-2 col-xs-12">
						{{ form.tribunalOrigen }}
					</div>
				</div>
				<div class="form-group form-group-lg">
					<div class="col-sm-8 col-sm-offset-2 col-xs-12">
						{{ form.tipoDiligencia }}
					</div>
				</div>
				<div class="form-group form-group-lg">
					<div class="col-sm-8 col-sm-offset-2 col-xs-12">
						{{ form.observacion }}
					</div>
				</div>
				<div class="form-group form-group-lg">
					<div class="col-xs-12 col-sm-8 col-sm-offset-2">
						{{form.receptor}}
					</div>
				</div>
				<div class="form-group form-group-lg">
					<div class="col-xs-12 col-sm-8 col-sm-offset-2">
						<button type="button" class="btn btn-lg btn-primary btn-block" id="next1">Siguiente</button>
					</div>
				</div>
			</form>
		</div>

	<!-- tab2 -->
	<div id="receptores" > <!-- class="panel panel-default" -->
		<div class="panel-heading">
			<h4 id="lreceptores">Lista de Receptores</h4>
		</div>

		<div class="table-responsive"> <!-- class="table-responsive" -->
			<table class="table table-striped table-hover" id="div_table_receptores"></table>
		</div>
	</div>

	<!-- tab3 -->
	<div id="resumen"> <!-- class="panel panel-default" -->
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 col-xs-12">
				<h4 id="lcausa">Cofirmar Causa</h4>
				<div class="form-horizontal">
					<div class="form-group form-group-lg">
						<label class="col-sm-4 col-xs-12">N° Causa</label>
						<div id="lncausa" class="col-sm-8"></div>
					</div>
					<div class="form-group form-group-lg">
						<label class="col-sm-4 col-xs-12">Tribunal</label>
						<div id="ltribunal" class="col-sm-8"></div>
					</div>
					<div class="form-group form-group-lg">
						<label class="col-sm-4 col-xs-12">Objetivo Diligencia</label>
						<div id="ldiligencia" class="col-sm-8"></div>
					</div>
					<div class="form-group form-group-lg">
						<label class="col-sm-4 col-xs-12">Direcci&oacute;n</label>
						<div id="ldireccion" class="col-sm-8"></div>
					</div>
					<div class="form-group form-group-lg">
						<label class="col-sm-4 col-xs-12">Receptor</label>
						<div id="lreceptor" class="col-sm-8"></div>
					</div>
					<div class="form-group form-group-lg">
						<label class="col-sm-4 col-xs-12">Observacion</label>
						<div id="lobservacion" class="col-sm-8"></div>
					</div>
					<div class="form-group form-group-lg">
						<div class="col-xs-12 col-sm-8 col-sm-offset-2">
							<button type="button" class="btn btn-lg btn-primary btn-block" id="confirmar">Confirmar</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block scripts %}
<script src="/media/js/jquery.msgbox.min.js"></script>
<script>
$(document).ready(function(){
	$("#receptores").hide();
	$("#resumen").hide();
	$("#id_receptor").hide();


	var sinop = "<option value='-1' selected disabled>Seleccione una materia</option>";
	var options_materia = $("select#id_materia").html();
	options = sinop + options_materia;
	$("select#id_materia").html(options);

	var sinop  = "<option value='0' selected disabled>Seleccione una regi&oacute;n</option>";
	var options = $("select#id_region").html();
	options = sinop + options;
	$("select#id_region").html(options);

	sinop  = "<option value='0' selected disabled>Seleccione una provincia</option>";
	$("select#id_provincia").html(sinop);
	$("select#id_provincia").attr('disabled',true);

	sinop  = "<option value='0' selected disabled>Seleccione una comuna</option>";
	$("select#id_comuna").html(sinop);
	$("select#id_comuna").attr('disabled',true);

	sinop = "<option value='0' selected disabled>Seleccione una Jurisdicci&oacute;n</option>";
	options = $("select#id_jurisdiccion").html();
	options = sinop + options;
	$("select#id_jurisdiccion").html(options);

	sinop = "<option value='0' selected disabled>Seleccione un tribunal</option>";
	$("select#id_tribunalOrigen").html(sinop);
	$("select#id_tribunalOrigen").attr('disabled',true);

	sinop = "<option value='0' selected disabled>Seleccione un tipo de diligencia</option>";
	options = $("select#id_tipoDiligencia").html();
	options = sinop + options;
	$("select#id_tipoDiligencia").html(options);


	$("select#id_region").change(function(event){
		if ($(this).val() == 0){
			$("select#id_provincia").attr('disabled',true);
			$("select#id_comuna").attr('disabled',true);
			return;
		}
		else{
			var url = "/region/" + $(this).val() + "/provincias/";
			$("select#id_provincia").load(url);
			$("select#id_provincia option:first").attr('selected', 'selected');
			$("select#id_provincia").attr('disabled',false);
			setTimeout(function(){
				url = "/provincia/" + $("select#id_region option:selected").val() + "1/comunas/";
				$("select#id_comuna").load(url);
				$("select#id_comuna").attr('disabled',false);
				setTimeout(function(){
					url = "/comuna/" + $("select#id_region option:selected").val() + "101/tribunales/";
					$("select#id_tribunal").load(url);
					$("select#id_tribunal").attr('disabled', false);
				},0);
			},0);
		}
	});

	$("select#id_provincia").change(function(event) {
		var url = "/provincia/" + $(this).val() + "/comunas/";
		$("select#id_comuna").load(url);
		$("select#id_comuna").attr('disabled',false);
	});

	$("select#id_comuna").change(function(event){
		var url = "/comuna/" + $(this).val() + "/tribunales/";
		$("select#id_tribunal").load(url);
		$("select#id_tribunal").attr('disabled', false);
	});

	$("select#id_jurisdiccion").change(function(event){
		if ($(this).val() == 0){
			$("select#id_tribunalOrigen").attr('disabled',true);
			return;
		}
		else{
			if ($(this).val() == -100){
				$("select#id_tribunalOrigen").empty();
				$("select#id_tribunalOrigen").append("<option value='-100'>Todos</option>")
				$("select#id_tribunalOrigen option:first").attr('selected', 'selected');
				$("select#id_tribunalOrigen").attr('disabled',false);
				var url = "/nuevacausa/"+$(this).val()+"/-100/";
				$("#div_table_receptores").load(url);
			}
			else{
				var url = "/jurisdiccion/" + $(this).val() + "/tribunales/";
				$("select#id_tribunalOrigen").load(url);
				$("select#id_tribunalOrigen option:first").attr('selected', 'selected');
				$("select#id_tribunalOrigen").attr('disabled',false);
			}
		}
	});

	$("select#id_tribunalOrigen").change(function(event){
		var url = "/nuevacausa/"+$("select#id_jurisdiccion").val()+"/"+$(this).val()+"/";
		$("#div_table_receptores").load(url);
	});

	$("li#1").click(function(){
		$("#formcausa").show();
		$("#receptores").hide();
		$("#resumen").hide();
		$("li#1").attr("class","active");
		$("li#2").removeAttr("class");
		$("li#3").removeAttr("class");
	});
	$("li#2").click(function(){
		if($("#id_ncausa").val()=="" || $("#id_region").val()==0 || $("#id_direccion").val()=="" || $("#id_tribunalOrigen").val()==0 || $("#id_tipoDiligencia").val()==0){
			$.msgbox("<div class='alert alert-warning'>Se deben completar los campos para continuar</div>");

		}else{

			$("#formcausa").hide();
			$("#receptores").show();
			$("#resumen").hide();
			$("li#2").attr("class","active");
			$("li#1").removeAttr("class");
			$("li#3").removeAttr("class");
		}
	});
	$("li#3").click(function(){
		if($("#id_receptor").val()==""){
			$.msgbox("<div class='alert alert-warning'>Se debe asignar un receptor</div>");
		}else{

			$("#formcausa").hide();
			$("#receptores").hide();
			$("#resumen").show();
			$("li#3").attr("class","active");
			$("li#1").removeAttr("class");
			$("li#2").removeAttr("class");
		}
	});

	$("#next1").click(function(){

		if($("#id_ncausa").val()=="" || $("#id_region").val()==0 || $("#id_direccion").val()=="" || $("#id_tribunalOrigen").val()==0 || $("#id_tipoDiligencia").val()==0){
			$.msgbox("<div class='alert alert-warning'>Se deben completar los campos para continuar</div>");

		}
		else{
			$("#formcausa").hide();
			$("#receptores").show();
			$("li#2").attr("class","active");
			$("li#1").removeAttr("class");
			$("h4#lreceptores").html("Lista de Receptores del Tribunal "+$("select#id_tribunalOrigen option:selected").text());
		}
	});

	$("#confirmar").click(function(){
		$("#id_receptor").removeAttr("disabled");
		$.msgbox("<div class='alert alert-success'>Se ha creado correctamente la causa</div>", {type: "info"});
		$("#formcausa").delay(3500).submit();
	})

});
</script>
{% endblock %}