<button id="enviar_formulario" type="button" class="btn btn-action btn-primary">Enviar</button>

<script>
	$(document).ready(function() {
		$("button[id='enviar_formulario']").click(function(event) {
			event.preventDefault();
			$.ajax({
				url: '/causa/{{idcausa}}/editar/registrar/',
				type: 'POST',
				data: $("form[name='editar']").serialize(),
				success: function(data){
					if(data == 0){
						alert("La causa ha sido editada correctamente.");
						$('#modal-id').modal('hide');
						$("form[name='filtro_estado']").submit();
					}
					else{
						alert(data);
					}
				}
			});
		});
	});
</script>