<link rel="stylesheet" href="/media/css/ladda.min.css">
<script src="/media/js/spin.min.js"></script>
<script src="/media/js/ladda.min.js"></script>

<a href="javascript:finalizar();" name="terminar" type="button" class="btn btn-action btn-primary" >Terminar</a>

<script>
	function finalizar(){
		$.ajax({
			url: '/estampado/{{idcausa}}/pdf',
			type: 'GET',
			success: function(data){
				if (data != '0'){
					alert("Ha ocurrido un error al enviar el estampado por correo. Por favor, contacte al administrador.");
				}
				// alert(data);
				window.location.reload();
			}
		});
		var url = '/causa/{{idcausa}}/detalle/diligencia';
		$("#detalle_causa").load(url);
		$("#opciones_causa").html('<a id="cerrar" href="javascript:$("form[name="filtro_estado"]").submit();" class="btn btn-action btn-default hidden-xs" data-dismiss="modal" type="button">Cerrar</a>');
	}

	$(document).ready(function() {
		$("a[name='terminar']").popConfirm({
			title: "Confirmación",
			content: "¿Está seguro de haber subido todas las fotos? Despúes no podrá agregar más.",
			placement: "top",
			yesBtn:   'Si',
			noBtn:    'No',
			container: false,
		});
	});

</script>
