{% extends 'base_app.html' %}
{%load bootstrap3%}
{%block title%} Tribunales Receptor | SIJ{%endblock%}
{%block titulo%}Mis tribunales{%endblock%}
{%block menu%}
	<a class="navbar-toggle collapsed" data-toggle="modal" href="#agregar-tribunal">
		<span class="glyphicon glyphicon-plus"></span>
	</a>
{%endblock%}
{%block menu1%}
	<li>
		<a class="navbar-toggle collapsed" data-toggle="modal" href="#agregar-tribunal" style="display: block;">
			<span class="glyphicon glyphicon-plus"></span>
		</a>
	</li>
{%endblock%}
{%block content%}
<div> <!-- class="table-responsive" -->
	<table class="table" id="div_table_tribunales">
	</table>
</div>

<div class="modal fade" id="agregar-tribunal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Agregar Tribunal</h4>
			</div>
			<form action="" class="form-horizontal" role="form" method="POST">
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-12">
						{% csrf_token %}
						<div class="form-group form-group-lg">
							<div class="col-sm-12 col-xs-12">{{form.jurisdiccion}}</div>
						</div>
						<div class="form-group form-group-lg">
							<div class="col-sm-12 col-xs-12">{{form.tribunal}}</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
					<button type="submit" class="btn btn-action btn-primary btn-block">Agregar</button>
			</div>
			</form>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{%endblock%}
{%block scripts%}
<script>
	var sacar_op_j = function (){
        $("select#id_jurisdiccion").focus(function() {
        $(this).find("option").eq(0).remove();
        sacar_op_j = function(){};
        });
    }

    var sacar_op_t = function(){
        $("select#id_tribunal").focus(function() {
            if($("select#id_jurisdiccion").val()){
                $(this).find("option").eq(0).remove();
            }
        sacar_op_t = function(){};
        });
    };

    $(document).ready(function(){

    var sinop = "<option value='-1' selected disabled>Jurisdicción</option>";
    var options_j = $("select#id_jurisdiccion").html();
    options = sinop + options_j;
    $("select#id_jurisdiccion").html(options);

    sacar_op_j();


    var sinop = "<option value='-1' selected disabled>Tribunal</option>";
    var options_t = $("select#id_tribunal").html();
    options = sinop + options_t;
    $("select#id_tribunal").html(options);

    sacar_op_t();

    var username = "{{username}}"
    var url = "/receptor/tribunales/tabla";
    $("#div_table_tribunales").load(url);

    $("select#id_jurisdiccion").change(function(event){
        if ($(this).val() == 0){
            $("select#id_tribunal").attr('disabled',true);
            return;
        }
        else{
            var url = "/jurisdiccion/" + $(this).val() + "/tribunales/";
            $("select#id_tribunal").load(url);
            var options_t = $("select#id_tribunal").html();
            var sinop1 = "<option value='-2'>Todos</option>";
            options_t = sinop1 + options_t;
            $("select#id_tribunal").html(options_t);
            $("select#id_tribunal option:first").attr('selected', 'selected');
            $("select#id_tribunal").attr('disabled',false);

        }
    });

    $("form").submit(function(event){
        var username = "{{user.username}}";
        var url = "/receptor/"+username+"/tribunales/";
        $("#div_table_tribunales").load(url);
    });

    });
</script>
{%endblock%}