{% extends "base.html" %}

{% block title %}Recuperar Contrase&ntilde; Completa | SIJ{% endblock title %}

{% block content %}
<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<div class="jumbotron">
			<h2 class="text-center">Contrase&ntilde;a Actualizada</h2>
			<p class="text-justify">
				<small>Su nueva contrase&ntilde;a se ha registrado con &eacute;xito.</small>
			</p>
			<a href="{% url 'vista_login' %}">Inicio Sesi&oacute;n</a>
		</div>
	</div>
</div>
{% endblock content %}  