{% extends "base_app.html" %}
{% load i18n static %}
{% block title %}Cambiar Contrase&ntilde;a |  SIJ{% endblock %}
{%block titulo%}Cambiar Contraseña{%endblock%}
{% block content %}
<div class="row">
	<div class="col-md-8 col-md-offset-2 col-xs-12">
		<form class="form-horizontal" action="" method="post" role="form">
			<br>
			{% csrf_token %}
			{% if form.errors %}
			    <p class="help-block">
			    {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
			    </p>
			{% endif %}
			<div class="form-group form-group-lg">
				<div class="col-sm-7">
					<input type="password" name="old_password" id="old_password" class="form-control input-lg" placeholder="Contraseña actual" required>
				</div>
				<div class="col-sm-7 col-sm-offset-5">{{form.old_password.errors}}</div>
			</div>
			<div class="form-group form-group-lg">
				<div class="col-sm-7">
					<input type="password" name="new_password1" id="new_password1" class="form-control input-lg" placeholder="Contraseña nueva"required>
				</div>
				<div class="col-sm-7 col-sm-offset-5">{{form.new_password1.errors}}</div>
			</div>
			<div class="form-group form-group-lg">
				<div class="col-sm-7">
					<input type="password" name="new_password2" id="new_password2" class="form-control input-lg" placeholder="Repetir contraseña" required>
				</div>
				<div class="col-sm-7 col-sm-offset-5">{{form.new_password2.errors}}</div>
			</div>
			<div class="form-group form-group-lg">
				<div class="col-xs-12 col-sm-8 col-sm-offset-2">
					<input type="submit" value="{% trans 'Change my password' %}" class="btn btn-action btn-primary btn-lg btn-block" />
				</div>
			</div>
		</form>		
	</div>
</div>
{% endblock %}
{%block scripts%}
<script type="text/javascript">document.getElementById("id_old_password").focus();</script>
{%endblock%}
