{% extends "base_nonav.html" %}
{% load bootstrap3 %}
{% block title %}Recuperar Contrase&ntilde;a | SIJ{% endblock%}
{% block content %}
<div class="row">
	<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1">
		<img src="/media/images/logo-SIJ.png" alt="" style="width: 70%; margin-left:15%; margin-bottom: 30px;" >
		<div class="row">
			<h3 class="text-center">Recuperar Contrase&ntilde;a</h3>
			<p class="help-block text-justify col-xs-12 col-sm-8 col-sm-offset-2"><small>¿Olvid&oacute; su contrase&ntilde;a? Ingrese su correo electr&oacute;nico para recibir un mensaje con las instrucciones para reestablecerla.</small></p>
			<form action="." method="post" class="form-horizontal" role="form">
			    {% csrf_token %}
			    <div class="row">
				    {% if form.email.errors %}
				    <div class="alert alert-danger">{{ form.email.errors }}</div>
				    {% endif %}
					<div class="form-group form-group-lg">	
						<div class="col-xs-12 col-sm-8 col-sm-offset-2">
							<input type="email" name="email" id="email" class="form-control input-lg" required>
						</div>
					</div>
					<div class="form-group form-group-lg" style="margin-bottom: 0px;">
						<div class="col-xs-12 col-sm-8 col-sm-offset-2">
							<button class="btn btn-action btn-primary btn-lg btn-block" type="submit" >Enviar</button>
						</div>
					</div>
			    </div>
			</form>
		</div>
	</div>
</div>
{%endblock%}