 {% extends "base.html" %}
{% block title %}Reestablecer Contrase&ntilde;a | SIJ{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-xs-12">
        <div class="jumbotron">
            <h2 class="text-center">Reestablecer Contrase&ntilde;a</h2>
            <br>
            <form action="" method="post" class="form-horizontal" role="form">
                {% csrf_token %}
                {% if validlink %}   
                    <div class="form-group">
                        <label for="new_password1" class="control-label col-sm-5">Contrase&ntilde;a</label>
                        <div class="col-sm-7">
                            <input type="password" name="new_password1" id="new_password1" class="form-control" title="">
                        </div>
                        <div class="col-sm-5 col-sm-offset-7">{{ form.new_password1.errors }}</div>
                    </div>
                    <div class="form-group">
                        <label for="new_password2" class="control-label col-sm-5">Repetir Contrase&ntilde;a</label>
                        <div class="col-sm-7">
                            <input type="password" name="new_password2" id="new_password2" class="form-control" required="required" title="">
                        </div>
                        <div class="co-sm-5 co-sm-offset-7">{{ form.new_password2.errors }}</div>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-action btn-primary pull-right">Guardar</button>
                {% else %}
                    <div class="alert alert-danger">
                        <h4>Error al reestablecer contrase&ntilde;a</h4>
                        <small>
                            El link es inv&aacute;lido o ya ha sido usado.     
                        </small>
                    </div>
                {% endif %}
            </form>
            
        </div>
    </div>
</div>

{% endblock content %}


