<div id="tabla">
	<table class="table table-condensed table-striped">
		<tbody>
			{% for  row in tribunales %}
			<tr id="{{row.id}}">
				<td style="vertical-align: middle;"><span style="cursor: pointer" class="glyphicon glyphicon-trash eliminar"></span></td>
				<td>{{row.nombretribunal}}</td>
			</tr>
			{%empty%}
			<tr><td>No existen tribunales asociados.</td></tr>
			{%endfor%}
		</tbody>
	</table>
</div>
<script>
	jQuery(document).ready(function($) {
		$(".eliminar").click(function(event){
			var tribunal = this.parentNode.parentNode.id;
			var url = '/receptor/tribunales/eliminar/'+tribunal;
			$("#tabla").load(url);
		});
	});
</script>
